@charset "UTF-8";

/* Style général de la table */
table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
}

/* Style des cellules de la table */
table td,
table th {
	border: 1px solid #ddd;
	padding: 10px;
}

/* Style des lignes paires de la table */
table tr:nth-child(even) {
	background-color: #f2f2f2;
}

/* Style lors du survol des lignes de la table */
table tr:hover {
	background-color: #ddd;
}

/* Style des en-têtes de la table */
table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #5b3302;
	color: white;
	border-radius: 5px;
}

/* Style des liens d'action */
a.action:link,
a.action:visited,
table a:link,
table a:visited,
.stat-link {
	background-color: #ac413d;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	margin-bottom: 10px;
}

/* Style lors du survol des liens d'action */
a.action:hover,
a.action:active,
table a:hover,
table a:active,
.stat-link:hover {
	background-color: #6e2824;
}

/* Style spécifique pour les liens d'action dans une section */
section a.action {
	margin-right: 10px;
}
