/* Styles généraux */

/* Style de l'en-tête */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	box-shadow: 0 1px 8px #ddd;
	flex-direction: row;
	height: initial;
	background-color: #6e2824;
	border-radius: 0 0 10px 10px;
}

/* Style du titre de navigation */
#nav-title {
	font-size: 1.1em;
}

#nav-title a {
	text-decoration: none;
	color: #e9c9a2;
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid #ca934f;
	border-radius: 5px;
	transition: all 0.3s ease;
}

#nav-title a:hover {
	color: #ac413d;
	background-color: #ca934f;
}

/* Style de la barre de navigation */
nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

nav li {
	margin: 0 15px;
}

nav a {
	text-decoration: none;
	color: #e9c9a2;
	transition: all 0.3s ease;
}

nav a:hover {
	color: #ac413d;
}

/* Style de la liste principale */
main ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 0;
}

main li {
	margin: 0 10px;
}

main a {
	text-decoration: none;
	color: #e9c9a2;
	padding: 10px 15px;
	border: 1px solid #ca934f;
	border-radius: 5px;
	transition: all 0.3s ease;
}

main a:hover {
	color: #ac413d;
	background-color: #ca934f;
}

/* Style pour centrer le contenu principal */
.center-main {
	display: flex;
	width: 100%;
	height: 300px;
	margin: auto;
	justify-content: center;
	align-items: center;
}

/* Style pour centrer une section */
.center-section {
	margin: auto;
	text-align: center;
}

/* Style pour les images dans le titre de navigation */
#nav-title a>img {
	width: 25px;
}

/* Style de la bannière */
#banniere {
	width: 100%;
	height: auto;
	max-width: 1200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

