/* Layout Styles (layout.css) */

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: white;
}

header {
	padding: 15px;
	background-color: #6e2824;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

h1 {
	font-size: 2em;
	color: #6e2824;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

footer {
	display: flex;
	margin-top: auto;
	width: 100%;
	background-color: #5b3302;
	text-align: center;
	color: #dde2e7;
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	justify-content: center;
}

footer a {
	color: #dde2e7;
	text-decoration: none;
}

nav li {
	font-size: 1.6em;
	color: #e9c9a2;
}

#nav-title a {
	color: #555;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 8px 15px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#nav-title a:hover {
	color: #ac413d;
	background-color: #ca934f;
}

