<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" data-th-href="@{/img/fromage.png}" sizes="32x32"/>
    <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/demo-table.css}"/>

    <title>Démo : Liste des clients</title>
</head>
<body>
<header>
    <h1 id="nav-title">
        <a href="/">ACME</a>
    </h1>
    <nav>
        <ul>
            <li><a href="/clients">Clients</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>La liste des clients</h1>
    <section>
        <a class="action" href="clients/creer">Ajouter un client</a>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="client : ${clients}">
                <td data-th-text="${client.id_personne}"></td>
                <td data-th-text="${client.nom}"></td>
                <td data-th-text="${client.prenom}"></td>
                <td>
                    <a data-th-href="@{/clients/{id}/edition(id=${client.id_personne})}">Modifier</a>
                    <a data-th-href="@{/clients/{id}/suppression(id=${client.id_personne})}">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer>
    <p>&copy; EPSI POEC - Tous droits réservés</p>
    <small>
        <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes">
            favicon de fromage par Smashicons - Flaticon
        </a>
    </small>
</footer>
</body>
</html>