<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/fromage.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-table.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>TEST client</title>
    </head>
    <body>
        <header>
            <h1 id="nav-title">
                <a href="/">ACME</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/clients">Clients</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>TEST client</h1>
                    <p data-th-text="${client.id_personne}"></p>
                    <p th:text="'Nom du client :' + ${client.nom}"></p>
                    <p data-th-text="${client.prenom}"></p>
                    <p data-th-text="${client.numeroVoie}"></p>
                    <p data-th-text="${client.typeVoie}"></p>
                    <p data-th-text="${client.libelleVoie}"></p>

                </div>
        </main>

        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés - Anaïs BERNARD / Pascal BILLERACH / Baptiste MUZARD</p>
            <small>
                <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes"></a>
            </small>
        </footer>
    </body>
</html>
