<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/fromage.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>Création d'une commande</title>

        <script>
            function updatePrice() {
                // Récupérer toutes les lignes de produits
                var productRows = document.getElementsByClassName("product-row");

                var totalPrice = 0;

                // Parcourir chaque ligne de produit pour calculer le prix total
                for (var i = 0; i < productRows.length; i++) {
                    var quantity = parseFloat(productRows[i].querySelector(".quantity").value);
                    var priceUnitaire = parseFloat(productRows[i].querySelector(".product-select").selectedOptions[0].getAttribute("data-prix"));
                    var totalPriceRow = quantity * priceUnitaire;

                    // Mettre à jour le prix unitaire et total pour chaque ligne
                    productRows[i].querySelector(".prixUnitaire").value = priceUnitaire.toFixed(2);
                    productRows[i].querySelector(".prixTotal").value = totalPriceRow.toFixed(2);

                    totalPrice += totalPriceRow;
                }

                // Mettre à jour le champ du prix total
                document.getElementById("prixTotalGlobal").value = totalPrice.toFixed(2);
            }

            function addProductRow() {
                // Cloner la première ligne de produit et l'ajouter au formulaire
                var firstProductRow = document.querySelector(".product-row");
                var newProductRow = firstProductRow.cloneNode(true);
                document.getElementById("products-container").appendChild(newProductRow);

                // Réinitialiser les champs de la nouvelle ligne
                newProductRow.querySelector(".quantity").value = "";
                newProductRow.querySelector(".prixUnitaire").value = "";
                newProductRow.querySelector(".prixTotal").value = "";

                // Mettre à jour le prix total
                updatePrice();
            }

            function removeProductRow(row) {
                // Supprimer la ligne de produit du formulaire
                row.parentNode.removeChild(row);

                // Mettre à jour le prix total
                updatePrice();
            }
        </script>
    </head>
    <body>
        <header>
            <h1 id="nav-title">
                <a href="/">ACME</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/commandes">Commandes</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Création d'une commande</h1>
            <form data-th-action="@{/commandes/creer}" data-th-object="${commande}" method="post">
                <ul class="flex-outer">
                    <li>
                        <label for="id_personne">Client:</label>
                        <select id="id_personne" class="client-select" name="personne">
                            <option th:each="client : ${clients}" th:value="${client.id_personne}" th:text="${client.prenom + ' ' + client.nom}"></option>
                        </select>
                    </li>

                    <div id="products-container">
                        <div class="product-row" id="first-product-row">
                            <label for="produit">Produit:</label>
                            <select id="produit" class="product-select" name="produit" onchange="updatePrice()">
                                <option th:each="produit : ${produits}" th:value="${produit.id_produit}" th:data-prix="${produit.prix}" th:text="${produit.nom}"></option>
                            </select>

<!--                            <label for="quantite">Quantité:</label>-->
<!--                            <input id ="quantite" type="number" class="quantity" name="quantite" oninput="updatePrice()" required/>-->
                            <label for="quantite_${produit.id_produit}">Quantité:</label>
                            <input id="quantite_${produit.id_produit}" type="number" class="quantity" name="quantite_${produit.id_produit}" oninput="updatePrice()" required/>


                            <label for="prixUnitaire">Prix Unitaire:</label>
                            <input type="number" class="prixUnitaire" id="prixUnitaire" name="prixUnitaire" readonly/>

                            <label for="prixTotal">Prix Total:</label>
                            <input id="prixTotal" type="number" class="prixTotal" name="prixTotal" readonly/>

                            <button type="button" onclick="removeProductRow(this.parentNode)">Supprimer</button>
                            <button type="button" onclick="addProductRow()">Ajouter un produit</button>
                        </div>
                    </div>


                    <li>
                        <label for="prixTotalGlobal">Prix Total Global:</label>
                        <input type="number" id="prixTotalGlobal" name="prixTotalGlobal" readonly/>
                    </li>

                    <li>
                        <button type="submit">Créer la commande</button>
                    </li>
                </ul>
            </form>
        </main>

        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés - Anaïs BERNARD / Pascal BILLERACH / Baptiste MUZARD</p>
            <small>
                <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes"></a>
            </small>
        </footer>
    </body>
</html>