<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" th:href="@{/img/fromage.png}" sizes="32x32"/>
        <link rel="stylesheet" th:href="@{/css/layout.css}"/>
        <link rel="stylesheet" th:href="@{/css/general.css}"/>
        <link rel="stylesheet" th:href="@{/css/demo-table.css}"/>
        <title>Statistiques - ACME</title>
    </head>
    <body>
        <header>
            <h1 id="nav-title">
                <a th:href="@{/}">ACME</a>
            </h1>
            <nav>
                <ul>
                    <li><a th:href="@{/statistiques}">Statistiques</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Statistiques</h1>
            <section>
                <ul>
                    <li><a class="stat-link" th:href="@{/statistiques/produits-plus-vendus}">Produits les plus vendus</a></li>
                    <li><a class="stat-link" th:href="@{/statistiques/produits-moins-vendus}">Produits les moins vendus</a></li>
                    <li><a class="stat-link" th:href="@{/statistiques/chiffre-affaire-par-mois}">Chiffre d'affaires par mois</a></li>
                    <li><a class="stat-link" th:href="@{/statistiques/chiffre-affaire-par-annee}">Chiffre d'affaires par année</a></li>
                </ul>
            </section>
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
            <small>
                <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes"></a>
            </small>
        </footer>
    </body>
</html>

