<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <!-- Ajoutez cette section pour déboguer le modèle -->
        <pre th:text="${produit}"></pre>


<!--        <form th:object="${produit}" th:action="@{/produits/{id}/edition(id=${produit.id_produit})}" method="post">-->
<!--            &lt;!&ndash; Autres champs de formulaire pour le produit &ndash;&gt;-->
<!--            <label for="nom">Nom du produit</label>-->
<!--            <input type="text" th:field="*{nom}" id="nom" />-->
<!--            <label for="departement">Département</label>-->
<!--            <input type="text" th:field="*{departement}" id="departement" />-->
<!--            <label for="lait">Lait</label>-->
<!--            <input type="text" th:field="*{lait}" id="lait" />-->
<!--            <label for="prix">Prix du produit</label>-->
<!--            <input type="text" th:field="*{prix}" id="prix" />-->

<!--            <button type="submit">Modifier le produit</button>-->
<!--        </form>-->

    </body>
</html>