<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/fromage.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>Démo : Création d'un produit</title>
    </head>
    <body>
        <header>
            <h1 id="nav-title">
                <a href="/">ACME</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/produits">Produits</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Création d'un nouveau produit</h1>
            <form data-th-action="@{/produits/creer}" data-th-object="${produit}" method="post">
                <ul class="flex-outer">
                    <li>
                        <label for="nom">Nom : </label>
                        <input type="text" id="nom" required data-th-field="*{nom}"/>
                    </li>
                    <li>
                        <label for="departement">Département : </label>
                        <input type="text" id="departement" required data-th-field="*{departement}"/>
                    </li>
                    <li>
                        <label for="lait">Lait : </label>
                        <input type="text" id="lait" required data-th-field="*{lait}"/>
                    </li>
                    <li>
                        <label for="prix">Prix : </label>
                        <input type="number" id="prix" required data-th-field="*{prix}" step="0.01"/>
                    </li>
                    <li>
                        <label for="dateFin">Date de fin : </label>
                        <input type="date" id="dateFin" required data-th-field="*{date_fin}"/>
                    </li>
                    <li>
                        <button type="submit">Enregistrer</button>
                    </li>
                </ul>
            </form>
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
            <small>
                <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes"></a>
            </small>
        </footer>
    </body>
</html>
