<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" data-th-href="@{/img/fromage.png}" sizes="32x32"/>
    <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

    <title>Démo : Détails d'une commande</title>
</head>
<body>
<header>
    <h1 id="nav-title">
        <a href="/">ACME</a>
    </h1>
    <nav>
        <ul>
            <li><a href="/commandes">Commandes</a></li>
        </ul>
    </nav>
</header>

<main>
    <main>
        <h1>Détails d'une commande</h1>
        <section class="show_commande">
            <h2>Commande du <span th:text="${#dates.format(commande.date_commande, 'dd-MM-yyyy')}"></span></h2>
            <div class="show_commande_client">
                <strong>Client :</strong><br />
                    Nom : <span th:text="${client.nom}"></span><br />
                    Prénom : <span th:text="${client.prenom}"></span><br />
                    Adresse : <span th:text="${client.numeroVoie + ', ' + client.typeVoie + ' ' + client.libelleVoie}"></span><br />
                    Code postal : <span th:text="${client.codePostal}"></span><br />
                    Commune : <span th:text="${client.commune}"></span><br />
                    Email : <span th:text="${client.email}"></span><br />
                    Téléphone : <span th:text="${client.telephone}"></span><br />
            </div>
            <div class="show_commande_client">
                <h3>Produits commandés</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Sous-total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="produit : ${produits}">
                            <td th:text="${produit.Produit.nom}"></td>
                            <td th:text="${produit.quantite}"></td>
                            <td th:text="${produit.Produit.prix}"></td>
                            <td th:text="${produit.Produit.prix}*${produit.quantite}"></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <strong>Total : <span th:text="${commande.montant_total}"></span> €</strong>
                </p>
            </div>
        </section>
    </main>

</main>

<footer>
    <p>&copy; EPSI POEC - Tous droits réservés - Anaïs BERNARD / Pascal BILLERACH / Baptiste MUZARD</p>
    <small>
        <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes"></a>
    </small>
</footer>
</body>
</html>