<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/fromage.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-table.css}"/>

        <title>Chiffre d'affaires par mois</title>
    </head>

    <body>
        <header>
            <h1 id="nav-title">
                <a href="/">ACME</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/statistiques">Statistiques</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Chiffre d'affaires par mois</h1>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Mois</th>
                            <th>Chiffre d'affaires (€)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="statistique : ${chiffreAffaireParMois}">
                            <td th:text="${statistique.mois}"></td>
                            <td th:text="${statistique.chiffreAffaire}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>

        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés - Anaïs BERNARD / Pascal BILLERACH / Baptiste MUZARD</p>
            <small>
                <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes"></a>
            </small>
        </footer>
    </body>
</html>

