<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/fromage.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>Démo : Edition d'un client</title>
    </head>
    <body>
        <header>
            <h1 id="nav-title">
                <a href="/">Home - ACME</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/clients">CLients</a></li>
                    <li><a href="/produits">Produits</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Modification d'un client</h1>
            <form data-th-action="@{/clients/{id}/edition(id=${client.id})}"
                  data-th-object="${client}" method="post">
                <ul class="flex-outer">
                    <li>
                        <label for="nom">Nom : </label>
                        <input type="text" id="nom" required data-th-field="*{nom}"/>
                    </li>
                    <li>
                        <button type="submit">Enregistrer</button>
                    </li>
                </ul>
            </form>
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
            <small>
                <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes">
                    favicon de fromage par Smashicons - Flaticon
                </a>
            </small>
        </footer>
    </body>
</html>
