<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" data-th-href="@{/img/fromage.png}" sizes="32x32"/>
    <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

    <title>Démo : Détails d'une commande</title>
</head>
<body>
<header>
    <h1 id="nav-title">
        <a href="/">ACME</a>
    </h1>
    <nav>
        <ul>
            <li><a href="/commandes">Commandes</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Détails d'une commande</h1>
    <section>
        <h2>Commande n° [[${id_commande.id_commande}]]</h2>
        <div>
<!--            <strong>Client :</strong> [[${commande.client.nom}]]-->
        </div>
<!--        <div>-->
<!--            <strong>Date de création :</strong> ${commande.date_commande}-->
<!--        </div>-->
<!--        <div th:if="${id_commande.contenuCommande != null}">-->
<!--            <strong>Contenu de la commande :</strong>-->
<!--            <ul>-->
<!--                <th:block th:each="contenu : ${id_commande.contenuCommande}">-->
<!--                    <li>-->
<!--                        Produit ID: ${contenu.id_produit} - Quantité: ${contenu.quantite}-->
<!--                    </li>-->
<!--                </th:block>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div>-->
<!--            <strong>Prix total de la commande :</strong> ${commande.prix_total}-->
<!--        </div>-->
    </section>
</main>

<footer>
    <p>&copy; EPSI POEC - Tous droits réservés - Anaïs BERNARD / Pascal BILLERACH / Baptiste MUZARD</p>
    <small>
        <a href="https://www.flaticon.com/fr/icones-gratuites/fromage" title="fromage icônes"></a>
    </small>
</footer>
</body>
</html>